<html>
  <head>
    <link href="/assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <aside>
      <ul>
      {% for p in site.pages %}
        {% unless p.path contains '.css' %}
          {% if p.url != page.url %}
            <li><a href="{{ p.url }}">{{ p.title }}</a></li>
          {% else %}
            <li><span>{{ p.title }}</span></li>
          {% endif %}
        {% endunless %}
      {% endfor %}
      </ul>
    </aside>
    <main>
      {{ content }}
    </main>
  </body>
</html>
